.feedback-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 60px;
}

.feedback-address {
  display: flex;
  flex-direction: column;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.feedback-address > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.feedback-address > div > p {
  font-size: 18px;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 0px 0px 15px;
  width: 400px;
}

.form-label {
  color: #2c3e50;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 5px solid #2c3e50;
  padding: 10px 0px;
  margin: 15px 0px 5px;
}

.submit-button {
  background-color: #e3e3e3;
  font-weight: bold;
  border-radius: 8px;
  width: 120px;
  color: #093e74;
  height: 40px;
  margin: 10px 0px;
}

.antd-form-item-mod {
  width: 40vw;
  margin: 10px 0px;
}

.antd-form-item-textbox-mod {
  height: 40px;
}

.icon-contact-background {
  width: 50px;
  height: 50px;
  background-color: #093e74;
  border-radius: 15px;
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

@media (min-height: 2304px) {
  .feedback-section {
    padding: 120px 60px;
  }
}

@media (max-width: 960px) {
  .feedback-section {
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
  }

  .feedback-form {
    padding: 30px;
  }

  .antd-form-item-mod {
    width: 55vw;
  }
}

@media (max-width: 600px) {
  .feedback-address > div > p {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .feedback-form {
    padding: 10px;
  }

  .feedback-address > div > p {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .feedback-section {
    padding: 30px;
  }

  .feedback-address > div > p {
    font-size: 14px;
    line-height: 30px;
  }

  .feedback-address > div > img {
    height: 30px;
    width: 30px;
  }

  .feedback-address .feedback-logo img {
    height: 50px;
    width: 150px;
  }
}
