.alert-main-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
}

.alert-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.alert-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.alert-delete {
  width: auto;
}

.alert-edit {
  width: auto;
}

.alert-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
