button {
  font-size: 1rem;
  width: 30px;
  border: 1px solid #d6d6d6;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}

.display {
  width: 40%;
  height: 20px;
  align-self: center;
  background: lightgray;
  padding: 10px;
  border-radius: 6px;
}

.expression {
  height: 30px;
  color: rgb(170, 170, 170);
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 102px;
  align-content: flex-start;
  justify-content: flex-start;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators Button {
  color: white;
  background: #0c3e72;
  border-left: none;
  border-bottom: 0;
}
