.dash-total-income {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 85%;
}

.dash-total-income .summary-title {
  display: flex;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}

.dash-total-income .summary-data {
  font-size: 26px;
  padding: 5px 20px 10px;
  font-weight: bold;
}

.dash-total-income .summary-percent {
  font-size: 16px;
  padding: 10px 20px;
  color: #73ca5d;
}

.dash-total-income i {
  font-size: 10px;
  color: darkgrey;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 0px;
}
