.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 92vh;
}

.cat-upper-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.cat-lower-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: 20px;
}

@media (max-width: 960px) {
  .app-container {
    height: auto;
    min-height: 82vh;
  }
}
