.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

@media (max-width: 960px) {
  .app-container {
    height: auto;
    min-height: 82vh;
  }
}
