* {
  font-family: 'Work Sans';
  font-style: normal;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.common-container {
  height: calc(100vh - 70px);
}

.login-bg {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.home-bg {
  background-color: #093e74;
}
