.mob-appbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #093e74;
  height: 10vh;
}

.mob-appbar-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
}

.mob-appbar-logo > a {
  padding: 10px;
  margin: 5px;
}

.mob-appbar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ffffffbd;
  margin: 5px;
  height: 16vh;
}

.mob-appbar-user .userprofile_image {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.mob-appbar-user .userprofile_image > img {
  border-radius: 30px;
}

.mob-appbar-user p {
  margin: 10px;
  font-weight: bold;
  color: #ffffff;
}

.mob-appbar-list {
  display: flex;
  flex-direction: column;
  height: 66vh;
}

.mob-appbar-list-main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-bottom: 2px solid #ffffffbd;
}

.mob-appbar-list-util {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.mob-appbar-list-main > a,
.mob-appbar-list-util > a,
.mob-appbar-logout > a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.mob-appbar-logout {
  display: flex;
  flex-direction: column;
  height: 6vh;
  margin: 5px;
}

.mob-appbar-list-main > a > i,
.mob-appbar-list-util > a > i,
.mob-appbar-logout > a > i {
  font-size: 25px;
  margin-right: 20px;
}

.mob-appbar-list-main > a > span,
.mob-appbar-list-util > a > span,
.mob-appbar-logout > a > span {
  vertical-align: top;
  line-height: 25px;
}

.mob-hamburger {
  grid-row: 1/-1;
  grid-column: 3/-1;
  justify-self: end;
  margin-left: 20px;
  cursor: pointer;
  justify-self: start;
  width: 20px;
  height: 18px;
  display: grid;
  place-content: center;
  margin-right: 50px;
}

.mob-hamburger__Open {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.6s ease-out;
  position: relative;
  z-index: 2;
}

.mob-hamburger__Open::before,
.mob-hamburger__Open::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.6s ease-out;
}

.mob-hamburger__Open::before {
  transform: translateY(-7px);
}

.mob-hamburger__Open::after {
  transform: translateY(7px);
}

.mob-hamburgerClose {
  z-index: 11;
}

.mob-hamburgerClose .mob-hamburger__Open {
  background: transparent;
  box-shadow: none;
}

.mob-hamburgerClose .mob-hamburger__Open::before,
.mob-hamburgerClose .mob-hamburger__Open::after {
  background-color: #ef476f;
  width: 18px;
  height: 2px;
}

.mob-hamburgerClose .mob-hamburger__Open::before {
  transform: rotate(45deg);
}

.mob-hamburgerClose .mob-hamburger__Open::after {
  transform: rotate(-45deg);
}

.mob-stickyNav {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: #093e74;
  transition: all 0.25s ease;
  z-index: 999;
}

.mob-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.innerMobileMenuOpen {
  opacity: 1 !important;
  visibility: visible !important;
  width: 40% !important;
  transition: 0.5s;
  overflow-x: hidden;
  all: unset;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #002a48;
  z-index: 1111;
  overflow-y: auto;
  left: 0;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 35%);
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
  align-items: stretch;
}

.innerMobileMenuClose {
  width: 0;
  height: 0;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.mob-dashboard-active {
  background-color: #7da4cd69;
}

@media (max-width: 580px) {
  .innerMobileMenuOpen {
    width: 50% !important;
  }
}

@media (max-width: 480px) {
  .innerMobileMenuOpen {
    width: 70% !important;
  }
}
